.main {
    height: 700px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
    position: relative;
}

.main-right {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.main-left {
    position: absolute;
    top: 100px;
    left: 100px;
}

/* today & clock */
#today {
    font-size: 40px;
    color: white;
    font-weight: 600;
}

.clock-box {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 15px;
}

#clock {
    font-size: 30px;
    color: white;
    text-align: center;
} 

/* login-form */

#login-form input {
    padding: 15px 10px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 18px;
}

#login-form input::placeholder {
    color: white;
    
}

.login-box h1 {
    color: white;
    font-size: 38px;
    font-weight: 600;
}

.login-box{ 
    text-align: center;
}




